<div id="<%= dom_id livro %>">
  <p>
    <strong>Nome:</strong>
    <%= livro.nome %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= livro.isbn %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= livro.genero %>
  </p>
  
  <p>
  <strong>Disponobilidade:</strong>
  <%= livro.disponivel %>
</p>
</div>
