<p style="color: green"><%= notice %></p>

<%= render @livro %>

<div>
  <%= link_to "Editar o livro", edit_livro_path(@livro) %> |
  <%= link_to "Voltar aos livros", livros_path %>

  <%= button_to "Excluir Livro", @livro, method: :delete %>
</div>
