<p style="color: green"><%= notice %></p>

<div class="position-absolute top-0 start-0 mt-3 ms-3 font-roboto-mono">
  <%= link_to livros_path, class: 'd-flex align-items-center link' do %>
    <i class="bi bi-arrow-return-left fs-3"></i>
    <span class="ms-2 fs-6">Voltar livro</span> 
  <% end %>
</div>

<div class="container">
  <div class="content">
    <%= render @livro %>

    <div class="button-container mt-3">
      <%= link_to "Editar o livro", edit_livro_path(@livro), class: 'btn btn-primary me-2' %>
      <%= button_to "Excluir Livro", @livro, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>

<style>
html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  width: 100%; 
}

.button-container {
  display: flex;
  gap: 1rem; 
  margin-top: 1rem; 
}

.position-absolute {
  z-index: 1000; 
}
</style>
