<div class="padding-cadastrar">
  <h1 class="font-roboto-mono text-center">Empréstimos</h1>

  <% if @emprestimos.present? %>
    <table class="table table-bordered font-roboto-mono w-75 mx-auto mt-4">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Livro</th>
          <th>Data Empréstimo</th>
          <th>Data Devolução</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @emprestimos.each do |emprestimo| %>
          <tr id="<%= dom_id emprestimo %>">
            <td><%= emprestimo.usuario.nome %></td>
            <td><%= emprestimo.livro.nome %></td>
            <td><%= emprestimo.data_emprestimo %></td>
            <td><%= emprestimo.data_devolucao %></td>
            <td class="text-center">
              <%= link_to edit_emprestimo_path(emprestimo), class: "btn btn-sm" do %>
                <i class="bi bi-pencil"></i>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to emprestimo_path(emprestimo), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-sm" do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center font-roboto-mono">Nenhum empréstimo encontrado.</p>
  <% end %>

  <div class="d-flex justify-content-end mt-3" style="padding: 40px;">
  <%= link_to 'Novo Empréstimo', new_emprestimo_path, class: "btn btn-success font-roboto-mono btn-move-left" %>
</div>

</div>
