<h1>Empréstimo</h1>

<p>
  <b>Usuário:</b>
  <%= @emprestimo.usuario.nome %>
</p>

<p>
  <b>Livro:</b>
  <%= @emprestimo.livro.nome %>
</p>

<p>
  <b>Data Empréstimo:</b>
  <%= @emprestimo.data_emprestimo %>
</p>

<p>
  <b>Data Devolução:</b>
  <%= @emprestimo.data_devolucao %>
</p>

<div class="container">
  <div class="content">
    <div class="button-container mt-3">
      <%= link_to 'Editar', edit_emprestimo_path(@emprestimo), class: 'btn btn-primary me-2' %>
      <%= link_to 'Voltar', emprestimos_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<style>
html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  width: 100%; 
}

.button-container {
  display: flex;
  gap: 1rem; 
  margin-top: 1rem; 
}
</style>
